* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#search{
    display: flex;
}
#search input{
    width: 60px;
    border: none;
    font-weight: 800;
    font-size: 12px;
    color: black;
}

/* header */

.header{
    font-family:sans-serif;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 0px 20px;
    gap: 15px;
    z-index: 1;
    background-color: white;
}
.bag{
    width: 20px;
    margin-right: 2px;
    margin-top: 6px;
}
.logo img{
    width:12rem; 
    padding-top: 4px;
    margin-left:30px;
}
.menu-items{
    width: 100%;
    top: 0px;
    margin: auto;
    display: flex;
    align-items: center;
}
.dropdown{
    margin-left: 20px;
}
.dropdown:hover{
    border-bottom: 1px solid red;
    margin-top: -1px;
}
 .dropdown:hover .small-menu{
    opacity: 1;
    visibility: visible;
}
.mega-menu{
    position: absolute;
    padding: 10px;
    left: 0;
    width: 100%;
    top: 35px;
    opacity: 0;
    visibility: hidden;
    transition:  all 0.5s ease;
    cursor: default;
    border-bottom: 1px solid black;
}
.small-menu{
    position: absolute;
    left: 0;
    width: 100%;
    top: 30px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.small-menu .box{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    background-color: white;
}
.box .options{
    margin-left: 30px;
}
.small-menu .options:hover{
    border-bottom: 1px solid red;
    cursor: pointer;
}
.small-menu .options:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}
.mega-menu .content{
    background-color: white;
    padding: 1rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
    text-overflow:inherit;  
}
.content .col{
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    justify-content: space-between;
}
.content .col li a:hover{
    border-bottom: 1px solid red;
    margin-top: -1px;
}
.content .col .img-wrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 20vw;
    overflow: hidden;
}
.content .col .img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.content .col img{
    width: 100%;
}
.content .col p{
    color: grey;
    line-height: 3rem;
}

/* hamburger */

.hamburger{
    position: absolute;
    left: 1.5rem;
    top: 5px;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    display: none;
}
.hamburger .bar{
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
    transition: 0.4s all;
}
@media(max-width:1100px){
    .header>ul+a{
        display: none;
    }
}
@media (max-width: 1023px){
    .hamburger{
        display: flex;
        cursor: pointer;
    }
   .header .menu-slide{
        left: 0%;
        transition: left 0.3s ease-in;
    }
   .header ul{
        flex-direction: column;
        position: absolute;
        top: 5vh;
        left: -100%;
        height: 95vh;
        width: 100%;
        align-items: center;
        transition: left 0.3s ease-in;
    }
    .header ul li{
        margin-top: 35px;
    }
    .cross .bar:nth-child(2){
        opacity: 0;
    }
    .cross .bar:nth-child(1){
        transform: rotate(-45deg) translate(-5px,7px);
    }
    .cross .bar:nth-child(3){
        transform: rotate(45deg) translate(-5px,-7px);
    } 
   .header .dropdown:hover .small-menu{
        visibility: hidden;
        opacity: 0;
    } 
    .header .dropdown:hover{
        margin-top: 34px;
    }
}
@media (max-width: 438px){
    .header>ul+a+a{
        display: none;
    }
}
@media (max-width: 438px){
    .header #search{
        display: none;
    }
}
@media (max-width: 278px){
    .header>ul+a+a+a{
        display: none;
    }
}